:root {
    --black: #000;
    --white: #fff;
    --red: #ff0000;
    --textoFont: 'Open Sans', sans-serif;
    --tituloFont: 'Open Sans', sans-serif;
    --subtFont: 'Open Sans', sans-serif;
    --tamanhoTexto: 1.5rem;
    --tamanhoTitulo: 2.5rem;
    --tamanhoSubtitulo: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
}

div#app {
    width: 99%;
    height: 98vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#app div.animacao {
    width: 43%;
    height: 90%;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.animacao img {
    position: absolute;
}

img[src="imagens/roda.png"] {
    border-radius: 50%;
    animation: rodar 60s linear infinite;
}
    
img[src="imagens/centro.png"] {
    z-index: 1;
}

div.fundoAplicacao {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s ease-in-out;
    position: absolute;
    left: 0;
    z-index: 1;
}

div.fundoAplicacao.on span {
    width: 1%;
    height: 1%;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}

div.fundoAplicacao.on div.botoes {
    width: 90%;
    height: 8%;
    display: flex;
    position: absolute;
    top: 45%;
    justify-content: space-between;
}

div.botoes div {
    width: 5%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

div.fundoAplicacao div#perfil,
div.fundoAplicacao div#perfil2,
div.fundoAplicacao div#projetos,
div.fundoAplicacao div#habilidades,
div.fundoAplicacao div#contato {
    width: 80%;
    height: 90%;
    position: absolute;
    border: 0.1rem solid rgb(255, 255, 255);
    top: 5%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

div#perfil2 {
    flex-wrap: wrap;
}

div#perfil2 p {
    text-align: center;
    margin: 1rem;
}

div#perfil,
div#perfil2,
div#habilidades,
div#projetos,
div#contato {
    transition: 0.2s ease-in;
    background-color: #fff transparent;
    backdrop-filter: blur(10px);
}

div#perfil h1,
div#perfil h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    position: absolute;
}

div#perfil h1 {
    top: 2%;
    left: 30%;
} 

div#perfil h2 {
    top: 20%;
    left: 26%;
}

div#perfil p {
    text-align: center;
    margin: 0.5rem 0.5rem 0 0.5rem;
}

div#perfil p strong {
    color: #f80202;
}

div#perfil2 h2,
div#habilidades h3,
div#projetos h4,
div#contato h6 {
    font-size: 3rem;
    position: absolute;
    text-align: center;
    top: 2%;
}

div#contato h6 {
    left: 42%;
}

div#habilidades {
    display: flex;
    flex-wrap: wrap;
}

div#habilidades svg {
    margin-top: 2rem;
    height: 30%;
    width: 25%;
}

div#habilidades svg.htmlIcon:hover {
    color: #e34f26;
}

div#habilidades svg.cssIcon:hover {
    color: #264de4;
}

div#habilidades svg.jsIcon:hover {
    color: #f0db4f;
}

div#habilidades svg.reactIcon:hover {
    color: #61DBFB;
}

div#habilidades svg.photoIcon:hover {
    color: #3C327B;
}

div#habilidades svg.figmaIcon:hover {
    color: #eb3413;
}

div#projetos {
    display: flex;
}

div#projetos div.projetos {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 11%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div.projetos div.projeto {
    width: 35%;
    height: 30%;
}

div.projeto h5 {
    font-size: 2rem;
    text-align: center;
}

div.projeto h5 a {
    text-decoration: none;
    color: #ffffff;
}

div.projeto p {
    font-size: 0.9rem;
    text-align: center;
}

div.projeto img {
    width: 60%;
    border-radius: 0.5rem;
    margin-left: 25%;
}

div.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.2s ease-in;
    z-index: 2;
    visibility: hidden;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
}

div#contato div.formulario {
    width: 48%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 2%;
    display: flex;
}

div.formulario input[type="text"],
div.formulario input[type="email"] {
    width: 30rem;
    height: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    padding: 0 0.5rem 0 0.5rem;
}

div.formulario label {
    font-size: 1rem;
    margin-left: 1rem;
}

div.formulario textarea {
    width: 30rem;
    height: 5rem;
    border: 0.1rem solid #fff;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    padding: 0 0.5rem 0 0.5rem;
}

div.formulario button[type="submit"] {
    width: 10rem;
    height: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    background-color: #f80202;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

div#contato div.animada {
    width: 48%;
    height: 80%;
    position: absolute;
    top: 15%;
    right: 2%;
    display: flex;
    justify-content: center;
}

div.animada div.textoAnimado {
    margin-top: 1rem;
    text-align: center;
}

div.animada img {
    width: 50%;
    height: 67%;
    position: absolute;
    top: 29%;
    object-fit: cover;
}

a.whats {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

a.whats i {
    color: #ffffff;
    font-size: 3rem;
}

@media screen and (min-width: 767px) and (max-width: 1034px) {
    div#app {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#app div.animacao {
        width: 43%;
        height: 90%;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    div.animacao img {
        position: absolute;
    }
    
    img[src="imagens/roda.png"] {
        width: 250%;
        border-radius: 50%;
        animation: rodar 60s linear infinite;
    }

    img[src="imagens/centro.png"] {
        width: 180%;
        
    }

    div.fundoAplicacao {
        width: 100%;
        height: 100%;
        background-color: #f80202;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    div#perfil,
    div#habilidades,
    div#projetos,
    div#contato {
        display: none;
    }
}
@media screen and (min-width: 360px) and (max-width: 767px){
    div#app {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#app div.animacao {
        width: 43%;
        height: 90%;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    div.animacao img {
        position: absolute;
    }
    
    img[src="imagens/roda.png"] {
        width: 250%;
        border-radius: 50%;
        animation: rodar 60s linear infinite;
    }

    img[src="imagens/centro.png"] {
        width: 180%;
        
    }

    div.fundoAplicacao.on span {
        right: 5%;
    }

    div.fundoAplicacao div.botoes div {
        margin: -1rem;
        font-size: 2rem;
    }

    div#perfil h1{
        left: 10%;
        font-size: 2.5rem;
    }

    div#perfil h2{
        top: 10%;
        left: 1%;
        font-size: 2rem;
    }
    
    div#perfil p {
        top: 10%;
        font-size: 1.5rem;
        margin: 2rem;
    }

    div#habilidades h1{
        left: 10%;
        font-size: 2.5rem;
    }

    div#habilidades h2{
        top: 10%;
        left: 1%;
        font-size: 2rem;
    }

   
div#perfil2 {
    flex-wrap: wrap;
}

div#perfil2 p {
    text-align: center;
    margin: 1rem;
}

div#perfil,
div#perfil2,
div#habilidades,
div#projetos,
div#contato {
    transition: 0.2s ease-in;
    background-color: #fff transparent;
    backdrop-filter: blur(10px);
}

div#perfil2 h2,
div#habilidades h3,
div#projetos h4,
div#contato h6 {
    font-size: 3rem;
    position: absolute;
    text-align: center;
    top: 2%;
}

div#contato h6 {
    left: 42%;
}

div#habilidades {
    display: flex;
    flex-wrap: wrap;
}

div#habilidades svg {
    margin-top: 2rem;
    height: 30%;
    width: 25%;
}

div#habilidades svg.htmlIcon {
    color: #e34f26;
}

div#habilidades svg.cssIcon {
    color: #264de4;
}

div#habilidades svg.jsIcon {
    color: #f0db4f;
}

div#habilidades svg.reactIcon {
    color: #61DBFB;
}

div#habilidades svg.photoIcon {
    color: #3C327B;
}

div#habilidades svg.figmaIcon {
    color: #eb3413;
}

div#projetos {
    display: flex;
}

div#projetos div.projetos {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 11%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div.projetos div.projeto {
    width: 35%;
    height: 30%;
}

div.projeto h5 {
    font-size: 2rem;
    text-align: center;
}

div.projeto h5 a {
    text-decoration: none;
    color: #ffffff;
}

div.projeto p {
    font-size: 0.9rem;
    text-align: center;
}

div.projeto img {
    width: 60%;
    border-radius: 0.5rem;
    margin-left: 25%;
}

div#contato div.formulario {
    width: 48%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 2%;
    display: flex;
}

div.formulario input[type="text"],
div.formulario input[type="email"] {
    width: 30rem;
    height: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    padding: 0 0.5rem 0 0.5rem;
}

div.formulario label {
    font-size: 1rem;
    margin-left: 1rem;
}

div.formulario textarea {
    width: 30rem;
    height: 5rem;
    border: 0.1rem solid #fff;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    padding: 0 0.5rem 0 0.5rem;
}

div.formulario button[type="submit"] {
    width: 10rem;
    height: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 0.1rem;
    margin: 0 1rem 0 1rem;
    background-color: #f80202;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

div#contato div.animada {
    width: 48%;
    height: 80%;
    position: absolute;
    top: 15%;
    right: 2%;
    display: flex;
    justify-content: center;
}

div.animada div.textoAnimado {
    margin-top: 1rem;
    text-align: center;
}

div.animada img {
    width: 50%;
    height: 67%;
    position: absolute;
    top: 29%;
    object-fit: cover;
}

    
}

.appOn {
    animation: appOn 1s ease-in-out;
}

.off {
    top: 100%;
}

.on {
    top: 0;
}

.notShow {
    opacity:0;
}

.show {
    z-index: 1;
    opacity: 1;
}

@keyframes rodar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.8;
    }
    75% {
        opacity: 1;
    }
    to {
        transform: translateY(-800px) 
    }
}

@keyframes appOn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(1);
    }
}

.squares li {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite alternate;
    z-index: -1;
}